<a href="https://colab.research.google.com/github/chw8207/python_algorithm/blob/main/%EC%84%A0%ED%98%95%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 데이터가 5개인 선형 리스트 생성

In [ ]:
katok = ['다현','정연','쯔위','사나','지효']
print(katok)

['다현', '정연', '쯔위', '사나', '지효']

2. 데이터 삽입

In [ ]:
# 빈칸 삽입하기
katok.append(None)
print(katok)

['다현', '정연', '쯔위', '사나', '지효', None]

In [ ]:
katok[5] = '모모'
print(katok)

['다현', '정연', '쯔위', '사나', '지효', '모모']

In [ ]:
# 카톡 횟수가 40회인 미나 데이터 삽입하기
# 2등과 3등 사이
katok.append(None)
print(katok)

['다현', '정연', '쯔위', '사나', '지효', '모모', None]

In [ ]:
katok[6] = katok[5]
katok[5] = None # 빈칸으로 만들기
print(katok)

['다현', '정연', '쯔위', '사나', '지효', None, '모모']

In [ ]:
katok[5] = katok[4]
katok[4] = None

katok[4] = katok[3]
katok[3] = None
print(katok)

['다현', '정연', '쯔위', None, '사나', '지효', '모모']

In [ ]:
katok[3] = '미나'
print(katok)

['다현', '정연', '쯔위', '미나', '사나', '지효', '모모']

3. 데이터 삭제

In [ ]:
katok[4] = None
print(katok)

['다현', '정연', '쯔위', '미나', None, '지효', '모모']

In [ ]:
katok[4] = katok[5]
katok[5] = None

katok[5] = katok[6]
katok[6] = None
print(katok)

['다현', '정연', '쯔위', '미나', '지효', '모모', None]

In [ ]:
del(katok[6])
print(katok)

['다현', '정연', '쯔위', '미나', '지효', '모모']

### 선형 리스트의 일반 구현

1. 배열을 이용한 선형 리스트 생성

In [ ]:
katok = []

In [ ]:
# 카톡 배열에 다현 추가하기
katok.append(None)
katok[len(katok)-1] = '다현'
print(katok)

['다현']

In [ ]:
# 추가로 정연 데이터 추가하기
katok.append(None)
katok[len(katok)-1] = '정연'
print(katok)

['다현', '정연']

2. 선형 리스트 생성 함수

In [ ]:
# 5명을 차례대로 추가하는 코드
katok = []

def add_data(friend) :
  katok.append(None)
  katok[len(katok)-1] = friend

In [ ]:
add_data('다현')
add_data('정연')
add_data('쯔위')
add_data('사나')
add_data('지효')

print(katok)

['다현', '정연', '쯔위', '사나', '지효']

3.데이터 삽입

- 중간 데이터 삽입



```python
katok.append(None)

for 현재위치 in range(마지막위치, 지정위치, -1) :
  katok[현재위치] = katok[현재위치-1]
  katok[현재위치-1] = None

katok[지정위치] = friend
```

- 맨 끝 데이터 삽입



```python
katok.append(None)

for 현재위치 in range(마지막위치, 지정위치, -1) : # 작동하지 않음.
  katok[현재위치] = katok[현재위치-1]
  katok[현재위치-1] = None

katok[지정위치] = friend
```

4. 데이터 삽입 함수

In [ ]:
katok = ['다현','정연','쯔위','사나','지효']

def insert_data(position, friend) :
  if position < 0 or position > len(katok) :
    print('데이터를 삽입할 범위를 벗어났습니다.')
    return

  katok.append(None)
  kLen = len(katok)  # 배열의 현재 크기

  for i in range(kLen-1, position, -1) :
    katok[i] = katok[i-1]
    katok[i-1] = None

  katok[position] = friend

In [ ]:
insert_data(2, '솔라')
print(katok)

['다현', '정연', '솔라', '쯔위', '사나', '지효']

In [ ]:
insert_data(6, '문별')
print(katok)

['다현', '정연', '솔라', '쯔위', '사나', '지효', '문별']

5. 데이터 삭제



```python
katok[지정위치] = None

for 현재위치 in range(지정위치+1, 마지막위치+1) :
  katok[현재위치-1] = katok[현재위치]
  katok[현재위치] = None

del(katok[지정위치])
```

In [3]:
katok = ['다현', '정연', '쯔위', '사나', '지효']

def delete_data(position) :
  if position < 0 or position > len(katok) :
    print('데이터를 삭제할 범위를 벗어났습니다.')

  kLen = len(katok)
  katok[position] = None

  for i in range(position+1, kLen) :
    katok[i-1] = katok[i]
    katok[i] = None

  del(katok[kLen-1])

In [4]:
delete_data(1)
print(katok)
delete_data(3)
print(katok)

['다현', '쯔위', '사나', '지효']
['다현', '쯔위', '사나']

### 선형 리스트 전체 코드

In [5]:
# 함수 선언 부분
def add_data(friend) :

  katok.append(None)
  kLen = len(katok)
  katok[kLen-1] = friend

def insert_data(position, friend) :
  if position < 0 or position > len(katok) :
    print('데이터를 삽입할 범위를 벗어났습니다.')
    return

  katok.append(None)
  kLen = len(katok)

  for i in range(kLen-1, position, -1) :
    katok[i] = katok[i-1]
    katok[i-1] = None

  katok[position] = friend

def delete_data(position) :
  if position < 0 or position > len(katok) :
    print('데이터를 삽입할 범위를 벗어났습니다.')
    return

  kLen = len(katok)
  katok[position] = None

  for i in range(position+1, kLen) :
    katok[i-1] = katok[i]
    katok[i] = None

  del(katok[kLen-1])

# 전역 변수 선언 부분
katok = []
select = -1

# 메인 코드 부분
if __name__ == '__main__' :
  while (select != 4) :
    select = int(input('선택하세요(1: 추가, 2: 삽입, 3: 삭제, 4: 종료)-->'))

    if (select == 1) :
      data = input('추가할 데이터-->')
      add_data(data)
      print(katok)
    elif (select == 2) :
      pos = int(input('삽입할 위치-->'))
      data = input('추가할 데이터-->')
      insert_data(pos, data)
      print(katok)
    elif (select == 3) :
      pos = int(input('삭제할 위치-->'))
      delete_data(pos)
      print(katok)
    elif (select == 4) :
      print(katok)
      exit
    else :
      print('1~4 중 하나를 입력하세요.')
      continue

선택하세요(1: 추가, 2: 삽입, 3: 삭제, 4: 종료)-->1
추가할 데이터-->다현
['다현']
선택하세요(1: 추가, 2: 삽입, 3: 삭제, 4: 종료)-->1
추가할 데이터-->정연
['다현', '정연']
선택하세요(1: 추가, 2: 삽입, 3: 삭제, 4: 종료)-->2
삽입할 위치-->1
추가할 데이터-->하나
['다현', '하나', '정연']
선택하세요(1: 추가, 2: 삽입, 3: 삭제, 4: 종료)-->2
삽입할 위치-->0
추가할 데이터-->문별
['문별', '다현', '하나', '정연']
선택하세요(1: 추가, 2: 삽입, 3: 삭제, 4: 종료)-->3
삭제할 위치-->3
['문별', '다현', '하나']
선택하세요(1: 추가, 2: 삽입, 3: 삭제, 4: 종료)-->4
['문별', '다현', '하나']

### 선형 리스트의 응용

- 다항식

In [6]:
px = [7, -4, 0, 5]
print(px)

[7, -4, 0, 5]

In [7]:
x = 2
pxVal = 7*x**3 -4*x**2 +0*x**1 +5*x**0
print(pxVal)

45

In [11]:
# 다항식 형태 출력해보기
px = [7, -4, 0, 5]
polyStr = 'P(x)='
polyStr += '+' + str(px[0]) + 'x^' + str(3)
polyStr += '+' + str(px[1]) + 'x^' + str(2)
polyStr += '+' + str(px[2]) + 'x^' + str(1)
polyStr += '+' + str(px[3]) + 'x^' + str(0)
print(polyStr)

P(x)=+7x^3+-4x^2+0x^1+5x^0

### 다항식의 선형 리스트 표현과 계산 프로그램

In [ ]:
# 함수 선언 부분
def printPoly(p_x) :
  term = len(p_x) - 1  # 최고차항 숫자: 배열 길이 - 1
  polyStr = 'P(x)='