<a href="https://colab.research.google.com/github/chw8207/python_algorithm/blob/main/%EC%84%A0%ED%98%95%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 데이터가 5개인 선형 리스트 생성

In [2]:
katok = ['다현','정연','쯔위','사나','지효']
print(katok)

['다현', '정연', '쯔위', '사나', '지효']

2. 데이터 삽입

In [3]:
# 빈칸 삽입하기
katok.append(None)
print(katok)

['다현', '정연', '쯔위', '사나', '지효', None]

In [4]:
katok[5] = '모모'
print(katok)

['다현', '정연', '쯔위', '사나', '지효', '모모']

In [5]:
# 카톡 횟수가 40회인 미나 데이터 삽입하기
# 2등과 3등 사이
katok.append(None)
print(katok)

['다현', '정연', '쯔위', '사나', '지효', '모모', None]

In [6]:
katok[6] = katok[5]
katok[5] = None # 빈칸으로 만들기
print(katok)

['다현', '정연', '쯔위', '사나', '지효', None, '모모']

In [7]:
katok[5] = katok[4]
katok[4] = None

katok[4] = katok[3]
katok[3] = None
print(katok)

['다현', '정연', '쯔위', None, '사나', '지효', '모모']

In [8]:
katok[3] = '미나'
print(katok)

['다현', '정연', '쯔위', '미나', '사나', '지효', '모모']

3. 데이터 삭제

In [9]:
katok[4] = None
print(katok)

['다현', '정연', '쯔위', '미나', None, '지효', '모모']

In [10]:
katok[4] = katok[5]
katok[5] = None

katok[5] = katok[6]
katok[6] = None
print(katok)

['다현', '정연', '쯔위', '미나', '지효', '모모', None]

In [11]:
del(katok[6])
print(katok)

['다현', '정연', '쯔위', '미나', '지효', '모모']

### 선형 리스트의 일반 구현

1. 배열을 이용한 선형 리스트 생성

In [12]:
katok = []

In [13]:
# 카톡 배열에 다현 추가하기
katok.append(None)
katok[len(katok)-1] = '다현'
print(katok)

['다현']

In [14]:
# 추가로 정연 데이터 추가하기
katok.append(None)
katok[len(katok)-1] = '정연'
print(katok)

['다현', '정연']

2. 선형 리스트 생성 함수

In [15]:
# 5명을 차례대로 추가하는 코드
katok = []

def add_data(friend) :
  katok.append(None)
  katok[len(katok)-1] = friend

In [16]:
add_data('다현')
add_data('정연')
add_data('쯔위')
add_data('사나')
add_data('지효')

print(katok)

['다현', '정연', '쯔위', '사나', '지효']

3.데이터 삽입

- 중간 데이터 삽입



```python
katok.append(None)

for 현재위치 in range(마지막위치, 지정위치, -1) :
  katok[현재위치] = katok[현재위치-1]
  katok[현재위치-1] = None

katok[지정위치] = friend
```

- 맨 끝 데이터 삽입



```python
katok.append(None)

for 현재위치 in range(마지막위치, 지정위치, -1) : # 작동하지 않음.
  katok[현재위치] = katok[현재위치-1]
  katok[현재위치-1] = None

katok[지정위치] = friend
```