### print() 함수

In [1]:
print('%d' % 100)

100

In [2]:
print('%d %d' % (100,200))

100 200

In [3]:
print('%d' % (100))

100

### break문

In [4]:
for i in range(1, 100) : 
    print('for문을 %d번 실행했습니다.' % i)
    break

for문을 1번 실행했습니다.

### 함수

In [5]:
# plus() : 두 정수의 합계 반환
## 함수 선언 부분 
def plus(v1, v2) : 
    result = 0
    result = v1 + v2
    return result

## 전역변수 선언 부분
hap = 0

## 메인코드 부분
hap = plus(100, 200)
print('100과 200의 plus() 함수 결과는 %d' % hap)

100과 200의 plus() 함수 결과는 300

In [6]:
## 함수 선언 부분
def func1() : 
    a = 10  # 지역 변수
    print('func1()에서 a값 %d' % a)

def func2() : 
    print('func2()에서 a값 %d' % a)

## 전역변수 선언 부분
a = 20  # 전역 변수

## 메인코드 부분
func1()
func2()

func1()에서 a값 10
func2()에서 a값 20

#### global 예약어
- global : 지역변수를 전역변수로 설정

In [7]:
## 함수 선언 부분
def func1() : 
    global a  # 이 함수 안에서 a는 전역 변수
    a = 10
    print('func1()에서 a값 %d' % a)

def func2() : 
    print('func2()에서 a값 %d' % a)

## 함수 변수 선언 부분
a = 20  # 전역변수

## 메인코드 부분
func1()
func2()

func1()에서 a값 10
func2()에서 a값 10

#### 반환값이 여러 개인 함수
- 리스트 활용

In [8]:
## 함수 선언 부분
def multi(v1, v2) : 
    reList = []  # 반환할 리스트
    res1 = v1 + v2
    res2 = v1 - v2
    reList.append(res1)
    reList.append(res2)
    return reList

## 전역 변수 선언 부분
myList = []
hap, sub = 0, 0

## 메인코드 부분
myList = multi(100, 200)
hap = myList[0]
sub = myList[1]
print('multi()에서 반환한 값 ==> %d, %d' % (hap, sub))

multi()에서 반환한 값 ==> 300, -100

In [9]:
# 리스트 사용 안 한 함수(myList 사용 안 함)
## 함수 선언 부분
def multi(v1, v2) : 
    reList = []  # 반환할 리스트
    res1 = v1 + v2
    res2 = v1 - v2
    reList.append(res1)
    reList.append(res2)
    return reList

## 전역 변수 선언 부분
# myList = []
hap, sub = 0, 0

## 메인코드 부분
hap, sub = multi(100, 200)
print('multi()에서 반환한 값 ==> %d, %d' % (hap, sub))

multi()에서 반환한 값 ==> 300, -100

### 리스트(배열)

In [10]:
# 리스트 생성
aa = [10, 20, 30, 40]

In [11]:
# 리스트 접근
print(aa[0])
aa[1] = 200

10

#### 빈 리스트 생성과 항목 추가

In [12]:
aa = []
aa.append(0)
aa.append(0)
aa.append(0)
aa.append(0)
print(aa)

[0, 0, 0, 0]

In [13]:
# 반복문 활용하기
aa = []
for i in range(0, 100) : 
    aa.append(0)

len(aa)

100

In [14]:
aa = []
for i in range(0, 4) : 
    aa.append(0)
hap = 0

for i in range(0, 4) : 
    aa[i] = int(input(str(i+1) + '번째 숫자 : '))
hap = 0

for i in range(0, 4) : 
    hap = hap + aa[i]

print('합계==> %d' % hap)

합계==> 100

#### 리스트 값에 접근하기

In [15]:
aa = [10, 20, 30, 40]
print('aa[-1]은 %d, aa[-2]는 %d' % (aa[-1], aa[-2]))

aa[-1]은 40, aa[-2]는 30

#### 리스트 조작 함수 다뤄보기

In [16]:
myList = [30, 10, 20]
print('현재 리스트 : %s' % myList)

myList.append(40)
print('append(40) 후의 리스트 : %s' % myList)

print('pop()으로 추출한 값 : %s' % myList.pop())
print('pop() 후의 리스트 : %s' % myList)

myList.sort()
print('sort() 후의 리스트 : %s' % myList)

myList.reverse()
print('reverse() 후의 리스트 : %s' % myList)

print('20값의 위치 : %d' % myList.index(20))

myList.insert(2, 222)
print('insert(2, 222) 후의 리스트 : %s' % myList)
myList.remove(222)
print('remove(222) 후의 리스트 : %s' % myList)

myList.extend([77, 88, 77])
print('extend[77, 88, 77] 후의 리스트 : %s' % myList)

print('77값의 개수 : %d' % myList.count(77))

현재 리스트 : [30, 10, 20]
append(40) 후의 리스트 : [30, 10, 20, 40]
pop()으로 추출한 값 : 40
pop() 후의 리스트 : [30, 10, 20]
sort() 후의 리스트 : [10, 20, 30]
reverse() 후의 리스트 : [30, 20, 10]
20값의 위치 : 1
insert(2, 222) 후의 리스트 : [30, 20, 222, 10]
remove(222) 후의 리스트 : [30, 20, 10]
extend[77, 88, 77] 후의 리스트 : [30, 20, 10, 77, 88, 77]
77값의 개수 : 2

#### 2차원 리스트

In [17]:
# 2차원 리스트 정의
aa = [[1,2,3,4],
      [5,6,7,8],
      [9,10,11,12]]

In [18]:
# 중첩 for문 활용
list1 = []
list2 = []
value = 1
for i in range(0, 3) : 
    for k in range(0, 4) : 
        list1.append(value)
        value += 1
    list2.append(list1)
    list1 = []

for i in range(0, 3) : 
    for k in range(0, 4) : 
        print('%3d' % list2[i][k], end = '')
    print('')

  1  2  3  4
  5  6  7  8
  9 10 11 12

In [19]:
# 4행 3열짜리 리스트를 생성한 후 12~1을 입력하고 출력
# 배열의 모든 숫자 합계 계산
list1 = []
list2 = []
value = 12
for i in range(0, 4) : 
    for k in range(0, 3) : 
        list1.append(value)
        value -= 1
    list2.append(list1)
    list1 = []

for i in range(0, 4) : 
    for k in range(0, 3) : 
        print('%4d' % list2[i][k], end='')
    print('')

sum = 0
for i in range(0, 4) :
     for k in range(0, 3) : 
         sum += list2[i][k]
print(f'배열의 합계 ==> {sum}')

  12  11  10
   9   8   7
   6   5   4
   3   2   1
배열의 합계 ==> 78

#### 컴프리헨션

In [20]:
# 1부터 5까지 저장된 리스트 만들기
numList = []
for num in range(1, 6) : 
    numList.append(num)
numList

[1, 2, 3, 4, 5]

In [21]:
# 컴프리헨션 사용하기
numList = [num for num in range(1, 6)]
numList

[1, 2, 3, 4, 5]

In [22]:
# 1~5의 제곱으로 구성된 리스트 만들기
numList = [num**2 for num in range(1,6)]
numList

[1, 4, 9, 16, 25]

In [23]:
# 1~20 숫자 중 3의 배수로만 구성된 리스트 만들기
numList = [num for num in range(1, 21) if num%3==0]
numList

[3, 6, 9, 12, 15, 18]

In [24]:
# 3*4크기의 0이 채워진 2차원 리스트 만들기
list2 = [[0 for _ in range(4)]for _ in range(3)]
list2

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

### 딕셔너리(가변형 데이터 형식)

#### 딕셔너리 생성

In [25]:
dic1 = {1:'a', 2:'b', 3:'c'}
dic1

{1: 'a', 2: 'b', 3: 'c'}

In [26]:
# 학생 정보 표현하기
student1 = {'학번':1000, '이름':'홍길동', '학과':'컴퓨터학과'}
student1

{'학번': 1000, '이름': '홍길동', '학과': '컴퓨터학과'}

In [27]:
# 연락처 추가하기
student1['연락처'] = '010-1111-2222'
student1

{'학번': 1000, '이름': '홍길동', '학과': '컴퓨터학과', '연락처': '010-1111-2222'}

In [28]:
# 학과 수정하기
student1['학과'] = '파이썬학과'
student1

{'학번': 1000, '이름': '홍길동', '학과': '파이썬학과', '연락처': '010-1111-2222'}

In [29]:
# 학과 삭제
del(student1['학과'])
student1

{'학번': 1000, '이름': '홍길동', '연락처': '010-1111-2222'}

In [30]:
# 딕셔너리 키는 유일하므로 마지막에 있는 키가 적용됨.
student1 = {'학번':1000, '이름':'홍길동', '학과':'파이썬학과', '학번':2000}
student1

{'학번': 2000, '이름': '홍길동', '학과': '파이썬학과'}

#### 딕셔너리 사용

In [31]:
# 키로 값에 접근해보기
student1['학번']

2000

In [32]:
student1['이름']

'홍길동'

In [33]:
student1['학과']

'파이썬학과'

In [34]:
# .get(키) 함수 사용하기 : 없는 키를 찾을 때 유용함.
student1.get('이름')

'홍길동'

In [35]:
student1.get('주소')

In [36]:
# 딕셔너리의 모든 키 반환하기
student1.keys()

dict_keys(['학번', '이름', '학과'])

In [37]:
list(student1.keys())

['학번', '이름', '학과']

In [38]:
# 딕셔너리의 모든 값을 확인해보기
student1.values()

dict_values([2000, '홍길동', '파이썬학과'])

In [39]:
list(student1.values())

[2000, '홍길동', '파이썬학과']

In [40]:
# .items() : 튜플 형태 구할 수 있음.
student1.items()

dict_items([('학번', 2000), ('이름', '홍길동'), ('학과', '파이썬학과')])

In [41]:
# 딕셔너리에 키가 있는지 여부 확인하기
'이름' in student1

True

In [42]:
'주소' in student1

False

In [43]:
# for문을 활용하여 딕셔너리의 모든 값 출력해보기
singer = {}

singer['이름'] = '트와이스'
singer['구성원 수'] = 9
singer['데뷔'] = '서바이벌 식스틴'
singer['대표곡'] = 'SIGNAL'

for k in singer.keys() : 
    print('%s --> %s' % (k, singer[k]))

이름 --> 트와이스
구성원 수 --> 9
데뷔 --> 서바이벌 식스틴
대표곡 --> SIGNAL

### 세트(가변형 데이터 형식)

In [44]:
mySet1 = {1,2,3,3,3,4}
mySet1

{1, 2, 3, 4}

In [45]:
# 편의점 물품 정리할 때 종류만 파악하고 싶을 때
salesList = ['삼각김밥', '바나나', '도시락', '삼각김밥', '삼각김밥', '도시락', '삼각김밥']
set(salesList)

{'도시락', '바나나', '삼각김밥'}

In [46]:
mySet1 = {1,2,3,4,5}
mySet2 = {4,5,6,7}
mySet1 & mySet2 # 교집합

{4, 5}

In [47]:
mySet1 | mySet2 # 합집합

{1, 2, 3, 4, 5, 6, 7}

In [48]:
mySet1 - mySet2 # 차집합

{1, 2, 3}

In [49]:
mySet1 ^ mySet2 # 대칭 차집합

{1, 2, 3, 6, 7}

In [50]:
# 함수 사용하기
mySet1.intersection(mySet2)

{4, 5}

In [51]:
mySet1.union(mySet2)

{1, 2, 3, 4, 5, 6, 7}

In [52]:
mySet1.difference(mySet2)

{1, 2, 3}

In [53]:
mySet1.symmetric_difference(mySet2)

{1, 2, 3, 6, 7}

### 문자열(불변형 데이터 형식)

#### 문자열 기본

In [54]:
ss = '자료구조&알고리즘'
ss[0]

'자'

In [55]:
ss[1:4]

'료구조'

In [56]:
ss[4:]

'&알고리즘'

In [57]:
# 문자열의 연결과 반복
ss = '파이썬' + '최고'
ss

'파이썬최고'

In [58]:
ss = '파이썬' * 3
ss

'파이썬파이썬파이썬'

#### 문자열 검색

In [59]:
ss = '파이썬 공부는 즐겁습니다. 물론 모든 공부가 다 재미있지는 앉죠. ^^'
ss.count('공부')
print(ss.find('공부'), ss.rfind('공부'), ss.find('공부',5), ss.find('없다'))
print(ss.index('공부'), ss.rindex('공부'), ss.index('공부',5)) #ss.index('없다'))
print(ss.startswith('파이썬'), ss.startswith('파이썬',10), ss.endswith('^^'))

4 21 21 -1
4 21 21
True False True

#### 문자열 분리와 결합

In [60]:
ss = 'Python을 열심히 공부 중'
ss.split()

['Python을', '열심히', '공부', '중']

In [61]:
ss = '하나:둘:셋'
ss.split(':')

['하나', '둘', '셋']

In [62]:
ss = '하나\n둘\n셋'
ss.splitlines()

['하나', '둘', '셋']

In [63]:
# 구분자.join('문자열')
ss = '%'
ss.join('파이썬')

'파%이%썬'

#### 함수이름 대입

In [64]:
before = ['2022', '12', '31']
after = list(map(int, before))
after

[2022, 12, 31]

### 튜플(불변형 데이터 형식)

#### 튜플 생성과 삭제

In [65]:
tt1 = (10,20,30)
tt1

(10, 20, 30)

In [66]:
tt2 = 10,20,30
tt2

(10, 20, 30)

In [67]:
# 항목이 하나인 튜플 : 뒤에 쉼표를 붙여야 함.
tt3 = (10)
tt3

10

In [68]:
tt4 = 10
tt4

10

In [69]:
tt5 = (10,)
tt5

(10,)

In [70]:
tt6 = 10,
tt6

(10,)

In [71]:
# 튜플 지우기
del(tt1)
del(tt2)

#### 튜플 사용

In [72]:
# 튜플 항목에 접근
tt1 = (10,20,30,40)
tt1[0]

10

In [73]:
tt1[0]+tt1[1]+tt1[2]

60

In [74]:
# 튜플 범위에 접근하기
tt1[1:3]

(20, 30)

In [75]:
tt1[1:]

(20, 30, 40)

In [76]:
tt1[:3]

(10, 20, 30)

In [77]:
# 튜플의 덧셈 및 곱셈
tt2 = ('A', 'B')
tt1 + tt2

(10, 20, 30, 40, 'A', 'B')

In [78]:
tt2 * 3

('A', 'B', 'A', 'B', 'A', 'B')

In [79]:
# 튜플->리스트->튜플로 변환해보기
myTuple = (10,20,30)
myList = list(myTuple)
myList.append(40)
myTuple = tuple(myList)
myTuple

(10, 20, 30, 40)

#### 연습문제

In [80]:
while True : 
    print('ㅎ', end='')
    break

ㅎ

In [81]:
def addValue(v1, v2) : 
    reuslt = 0
    reuslt = v1 + v2
    return reuslt

hap = addValue(100,200)
print('100과 200의 addValue() 함수 결과는 %d' % hap)

100과 200의 addValue() 함수 결과는 300

In [82]:
def func1() : 
    var = 100

def func2() : 
    global var
    var = 200

var = 0
func1()
print(var)
func2()
print(var)

0
200

In [83]:
list = []
for i in range(0, 200) : 
    list.append(0)
len(list)

200

In [84]:
aa = [10,20,30,40]
print(aa[0])
print(aa[-1])
print(aa[1:3])
print(aa[2:])

10
40
[20, 30]
[30, 40]

In [85]:
dataList = [data for data in range(1, 10) if num%4==0]
print(dataList)

[]

In [86]:
myStr = '#'
myStr.join('IT쿡북')
print(myStr)

#

### 자동 로또 번호 생성기

In [92]:
import random

# 전역변수 선언 부분
totalLotto = []
lotto = []
pickNum = 0
count = 0

# 메인 코드 부분
print('** 로또 번호 생성을 시작합니다. **')
count = int(input('몇 번을 뽑을까요?'))

for _ in range(count) : 
    lotto = []
    while True : 
        pickNum = random.randint(1, 45)
        if pickNum not in lotto : 
            lotto.append(pickNum)
        if len(lotto) >= 6 : 
            break
    totalLotto.append(lotto)

for lotto in totalLotto : 
    lotto.sort()
    print('자동번호--> ', end=' ')
    for i in range(0, 6) : 
        print('%2d' % lotto[i], end=' ')
    print()

** 로또 번호 생성을 시작합니다. **
자동번호-->   1  5 21 26 31 44
자동번호-->   2 16 18 32 40 44
자동번호-->   5 11 19 23 28 42
자동번호-->  12 14 17 36 37 40
자동번호-->   2 20 22 34 40 41

### 가장 많이 나온 글자 세기

In [96]:
# 전역변수 선언 부분
poet = '''
나 보기가 역겨워 가실 때에는 말없이 고이 보내 드리오리다
영변에 약산 진달래꽃 아름 따다 가실 길에 뿌리오리다
가시는 걸음 걸음 놓인 그 꽃을 사뿐히 즈려 밟고 가시옵소서
나 보기가 역겨워 가실 때에는 죽어도 아니 눈물 흘리오리다
'''
countDic = {}

# 메인 코드 부분
if __name__ == '__main__' : 
    for ch in poet : 
        if ch.isalpha() : 
            if ch in countDic : 
                countDic[ch] += 1
            else : 
                countDic[ch] = 1

print('원문', poet)
print('-------------------------') 
print('문자 빈도수(4회 이상)')
print('-------------------------') 
for key in countDic : 
    if countDic[key] >= 4 : 
        print(key, '-->', countDic[key])

원문
나 보기가 역겨워 가실 때에는 말없이 고이 보내 드리오리다
영변에 약산 진달래꽃 아름 따다 가실 길에 뿌리오리다
가시는 걸음 걸음 놓인 그 꽃을 사뿐히 즈려 밟고 가시옵소서
나 보기가 역겨워 가실 때에는 죽어도 아니 눈물 흘리오리다

-------------------------
문자 빈도수(4회 이상)
-------------------------
가 --> 7
에 --> 4
리 --> 6
다 --> 4